doctype html
html
	head
		link(rel="stylesheet" href="../css/manage.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(src="../js/index.js")
	body
		div#general-manage
		.manage
			h3 Subject
				form(action="/admin/new-subject" method = "POST")
					input(type= "text" name = "name")
					input(type="submit" value="Add")