doctype html
html
	head
		link(rel='stylesheet' href='css/test.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='../js/index.js')
	body
		img#img-ava( src='../img/ava.jpg') 
		div.contact-home
			div#information
				!{contact}