doctype html
html
	head
		title Huong's Home Page
		link(rel="stylesheet" href="../css/test.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(src="../js/index.js")
	body
		div#content-slide
				h3 !{subject.name}
				br
				table
					a(class="slide-subject" href="#") Chapter 1:
					br
					a(class="slide-subject" href="#") Chapter 2:
					br
					a(class="slide-subject" href="#") Chapter 3: